@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

* {
	@apply scroll-smooth outline-offset-4 !outline-blue-600 focus:outline-1;
}

html {
	@apply scroll-pt-20 font-sans md:scroll-pt-28;
}

body {
	@apply font-['Poppins'];
}

::-webkit-scrollbar {
	@apply h-2 w-2;
}

::-webkit-scrollbar-track {
	@apply bg-inherit;
}

::-webkit-scrollbar-thumb {
	@apply rounded-full bg-neutral-300;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-neutral-400;
}

::selection,
::-moz-selection {
	@apply bg-blue-300 text-blue-950;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-white;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
	@apply text-neutral-800;
}
main p {
	@apply text-neutral-700;
}

h1 {
	@apply text-5xl font-medium leading-[3.5rem] md:font-semibold md:leading-[4rem];
}

h2 {
	@apply text-2xl font-bold leading-6;
}

h3 {
	@apply text-xl font-semibold leading-6;
}

h4 {
	@apply text-xl font-semibold;
}

h5 {
	@apply text-lg font-semibold;
}

h6 {
	@apply text-base font-semibold;
}

p,
li {
	@apply font-['JetBrains_Mono'] text-base font-medium leading-6 text-neutral-600;
}

span,
small {
	@apply text-neutral-600;
}

small {
	@apply text-xs;
}

hr {
	@apply mx-4 my-20 rounded-full border-dashed border-neutral-300;
}
