@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

:root {
	--color-primary: 37, 99, 235;
}

* {
	@apply scroll-smooth outline-offset-4 !outline-primary focus:outline-1;
}

html {
	@apply font-sans;
}

body {
	@apply font-['Poppins'];
}

::-webkit-scrollbar {
	@apply h-2 w-2;
}

::-webkit-scrollbar-track {
	@apply bg-inherit;
}

::-webkit-scrollbar-thumb {
	@apply rounded-full bg-neutral-300;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-neutral-400;
}

::selection,
::-moz-selection {
	@apply bg-primary/30 text-primary;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-white;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
	@apply text-neutral-800;
}
main p {
	@apply text-neutral-700;
}

h1 {
	@apply text-3xl font-medium leading-[3rem] md:font-semibold md:leading-[4rem] lg:text-5xl;
}

h2 {
	@apply text-2xl font-bold leading-6;
}

h3 {
	@apply text-xl font-semibold leading-6;
}

h4 {
	@apply text-lg font-semibold;
}

h5 {
	@apply text-base font-semibold;
}

h6 {
	@apply text-base font-semibold;
}

p,
li {
	@apply font-mono text-base font-medium leading-6 text-neutral-600;
}

span,
small {
	@apply text-neutral-600;
}

small {
	@apply text-xs;
}

kbd {
	@apply rounded bg-neutral-300 px-2 py-1 font-mono text-sm font-normal text-neutral-700;
}

mark {
	@apply bg-primary/10 text-primary;
}

hr {
	border: none;
	border-bottom: 2px dashed theme('colors.neutral.300');
	@apply mx-4 my-32 rounded-full;
}

#markdown-contents hr {
	@apply my-16;
}
#markdown-contents ul {
	@apply list-inside list-disc pl-8;
}
#markdown-contents ol {
	@apply list-inside list-decimal pl-8;
}

/* Base styles for all code blocks thru out the app */
code {
	counter-reset: codeStep;
	counter-increment: codeStep 0;
	direction: ltr;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	@apply hyphens-none whitespace-pre-wrap ligatures-normal;
}

/* Highlighted code blocks */
.shiki {
	@apply relative overflow-auto whitespace-pre rounded-xl border border-neutral-300/50 !bg-neutral-50 py-6 focus:-outline-offset-1;
}

.line-numbers .line::before {
	content: counter(codeStep);
	counter-increment: codeStep;
	font-variant-numeric: tabular-nums;
	@apply inline-block w-6 text-left text-neutral-600;
}

/* For regular code blocks */
pre > code .line {
	@apply relative inline-block w-full px-6;
}

pre > code {
	@apply block w-full;
}

/* For highlighted lines */
.diff.remove {
	@apply bg-red-600/20 after:absolute after:left-2 after:top-1/2 after:-translate-y-1/2 after:text-red-600 after:content-['-'];
}

.diff.add {
	@apply bg-green-600/20 after:absolute after:left-2 after:top-1/2 after:-translate-y-1/2 after:text-green-600 after:content-['+'];
}

.highlighted {
	@apply bg-neutral-600/20 after:absolute after:left-0 after:h-full after:w-[2px] after:bg-neutral-600;
}

/* For snippet */
.snippet {
	@apply relative my-4 flex w-full max-w-[500px] flex-row items-stretch overflow-hidden rounded-xl border border-neutral-300/50;
}

.snippet .shiki {
	@apply w-full rounded-none border-none p-4;
}

.snippet > pre > code .line::before {
	@apply mr-4 inline-block w-fit text-center content-['$'];
}

.snippet pre > code .line {
	@apply whitespace-pre p-0 pr-10;
}

/* Inline code */
code:not(pre code) {
	@apply rounded-xl bg-primary/20 px-1 text-primary;
}
