@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-white;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-400;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-500;
}
::selection {
  @apply text-neutral-100 bg-primary-600;
}

* {
	scroll-behavior: smooth;
}
*:focus-visible {
	@apply ring-1 ring-white ring-offset-2 ring-offset-neutral-900;
}

body {
  @apply bg-white dark:bg-neutral-800 overflow-x-hidden text-text-main;
}

.button-primary-animation {
  @apply text-white bg-primary-600 hover:bg-primary-700 disabled:bg-primary-400 shadow-primary-700 dark:shadow-primary-500 hover:shadow-lg hover:dark:shadow-sm inline-flex flex-row items-center justify-center gap-2 px-5 py-2 sm:py-3 sm:px-8 text-sm sm:text-base font-semibold transition-all duration-200 border border-white hover:rounded-lg rounded-3xl focus:outline-none disabled:cursor-not-allowed sm:hover:pr-14 relative overflow-hidden;
}
.button-primary.small {
  @apply px-3 py-1 sm:py-2 sm:px-5 hover:rounded-md;
}
.button-primary-animation.small {
  @apply px-3 py-1 sm:py-2 sm:px-5 hover:pr-9 hover:rounded-md;
}
.button-primary {
  @apply text-white overflow-hidden bg-primary-600 hover:bg-primary-700 disabled:bg-primary-400 shadow-primary-700 dark:shadow-primary-500 hover:shadow-lg hover:dark:shadow-sm inline-flex flex-row items-center justify-center gap-2 px-5 py-2 sm:py-3 sm:px-8 text-sm sm:text-base font-semibold transition-all duration-200 border border-white hover:rounded-lg rounded-3xl focus:outline-none disabled:cursor-not-allowed relative;
}
[class^='button-']:not(.no-scale), button:not(.no-scale) {
	@apply active:scale-95 transition-all duration-200;
}
.languageIcon {
  @apply transition-all duration-500 ease-in-out hover:-translate-y-3 cursor-pointer hover:drop-shadow-xl hover:scale-105;
}
.link {
  @apply font-medium text-primary-600 dark:text-primary-700 hover:underline cursor-pointer transition-all;
}

hr {
  @apply my-4 border-gray-300 dark:border-gray-700 w-full;
}
label {
  @apply font-semibold;
}

h1 {
  @apply text-4xl font-sans font-semibold text-text-main;
}
h2 {
  @apply text-3xl font-sans font-semibold text-text-main;
}
h3 {
  @apply text-2xl font-sans font-semibold text-text-main;
}
h4 {
  @apply text-xl font-sans font-semibold text-text-main;
}
h5 {
  @apply text-lg font-sans font-semibold text-text-main;
}
h6 {
  @apply text-base font-sans font-semibold text-text-main;
}
p {
  @apply block text-base leading-8 font-light dark:text-gray-300 text-text-main font-['Mulish'];
}


/* Posts CSS */

h1.article-heading {
  @apply text-4xl font-bold mb-4;
}

h2.article-heading {
  @apply text-3xl font-bold mb-4;
}

h3.article-heading {
  @apply text-2xl font-bold mb-4;
}

h4.article-heading {
  @apply text-xl font-bold mb-4;
}

h5.article-heading {
  @apply text-lg font-bold mb-4;
}

h6.article-heading {
  @apply text-base font-bold mb-4;
}

p.article-text {
  text-wrap: none;
  @apply mb-4 font-normal text-lg leading-8;
}

p.article-text:last-child {
  @apply mb-0;
}

p.article-text+.article-heading {
  @apply mt-10;
}

p.article-text:last-child {
  @apply mb-0;
}


/* Code */

code {
  counter-reset: step;
  counter-increment: step 0;
  direction: ltr;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  font-variant-ligatures: normal;
  @apply hyphens-none;
}

.shiki {
  @apply rounded-md relative mb-4 py-2 pr-14;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  font-variant-numeric: tabular-nums;
  @apply inline-block text-right mr-2 text-neutral-500 dark:text-neutral-400 w-6
}

/* ! Same bg color as the code blocks (set by the theme in `mdsvex.config.js`) */
code:not(pre code) {
  @apply rounded-md bg-[#282c34] text-gray-300 px-1 py-0.5 text-base;
}


/* Others */

kbd {
  @apply font-mono text-sm bg-neutral-300 dark:bg-neutral-700 text-neutral-700 dark:text-neutral-200 rounded-md px-2 py-1;
}
